<footer>
  <div class="pure-g inset">
    <div class="pure-u-1-3">
      <div class="footer__title">
        CONTACT
      </div>
      <div class="footer_item">Thiago Alves</div>
      <div class="footer_item">Mail: <a href="mailto:thiagoralves@gmail.com">thiagoralves@gmail.com</a></div>
    </div>
    <div class="pure-u-1-3">

    </div>
    <div class="pure-u-1-3" style="text-align:right">
      <a href="//github.com/openplcproject/openplcproject.github.io/blob/master/{{page.path}}"><i class='fa fa-pencil'></i> Edit this page</a>
    </div>
  </div>
</footer>
