<nav>
  <div class="custom-wrapper pure-g inset" id="menu">
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="pure-menu">
        <a href="/" class="pure-menu-heading">
          <img src="/assets/img/openplc-white.png" alt="Go to home page" class="header__logo"/>
        </a>
        <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-3-4">
      <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
        {% assign current = page.url | downcase | split: '/' %}

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Home</a></li>
          <li class="pure-menu-item"><a href="/getting-started" class="pure-menu-link{% if current[1] == 'getting-started' %} current{% endif %}">Getting
              Started</a></li>
          <li class="pure-menu-item"><a href="/reference" class="pure-menu-link{% if current[1] == 'reference' %} current{% endif %}">Reference</a></li>
          <li class="pure-menu-item"><a href="http://openplc.discussion.community/" class="pure-menu-link">Forum</a></li>
          <li class="pure-menu-item"><a href="/blog" class="pure-menu-link{% if current[1] == 'blog' %} current{% endif %}">Blog</a></li>
          <li class="pure-menu-item"><a href="//github.com/thiagoralves/OpenPLC_v3" alt="Contribute on GitHub"><i class='fa fa-github'></i></a>
    </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
