/* Common style */

body {
  color: white;
  background-color: #4e4e4e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif !important;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 2.5em;
  margin-top: 0.25em;
}

h2 {
  color: #b7473a;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h3 {
  letter-spacing: 0.05em;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

a {
  color: #5274C0;
}

code {
  color: orange;
  background-color: #4e4e4e;
}

.listingblock .title {
  font-family: 'Anton', sans-serif !important;
  font-weight: lighter;
  font-size: 0.75em;
}

.admonitionblock {
  padding: 1em;
  margin: 1em;
  background-color: #4e4e4e;
}

.admonitionblock table, .admonitionblock td, .admonitionblock th {
  border: none;
}

.admonitionblock td p {
  margin: 0;
}

.important .title, .tip .title {
  min-width: 6em;
  border-right: 1px solid #252525;
}

.important .title::before {
  content: "❗ ";
}

.tip .title::before {
  content: "💡 ";
}

table {
  padding: 1em;
  margin: 1em;
}

table, td, th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

th, td {
  padding: 0 0.5em;
}

tr {
  padding: 0.25em 0;
}

.note {
  padding: 0 2em;
  font-size: smaller;
}

.table-wrapper {
  overflow-x: auto;
}

/* Common content pages */

article {
  background-color: #353535;
  padding: 1em;
}

article img {
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 100%;
}

.inset {
  margin: 0 10em;
}

@media (max-width: 70.999em) {
  .inset {
    margin: 0 3.5em;
  }
}

@media (max-width: 47.999em) {
  main {
    padding: 0;
  }
  article {
    padding: 0.5em;
  }
  .inset {
    margin: 0 0.5em;
  }
}

.image-links {
  padding-bottom: 50px;
}

.image-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.image-links img {
  height: 100px;
  ;
}

.image-label {
  text-align: center;
}

.download-link {
  text-align: center;
}

.download-link img {
  width: 100px;
}

.download-link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

pre {
  padding: 1em;
  background-color: #4e4e4e;
}

.external {
  vertical-align: super;
  font-size: smaller;
}

/* Responsive header menu */

.pure-menu-horizontal {
  margin-top: 1em;
}

nav a {
  background-color: black !important;
  text-transform: uppercase;
}

nav .current {
  color: #b7473a;
}

nav a:hover {
  color: #ffd000;
}

.custom-wrapper {
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 4.5em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 15.5em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (min-width: 47.999em) and (max-width:70.999em) {
  .pure-menu-horizontal .pure-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .pure-menu-horizontal {
    margin-top: 1em;
  }
  .pure-menu-link {
    padding: 0.5em;
  }
}

@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;
  }
  .custom-toggle {
    display: block;
  }
}

/* Blog elements */

.author {
  border-radius: 50%;
  display: unset;
  margin: unset;
  max-height: unset;
  max-width: unset;
}

/* Header elements */

nav {
  background-color: black;
}

.header__logo {
  width: 8em;
}

/* Footer elements*/

footer {
  background-color: #252525;
  padding: 1em 0;
}

.footer__title {
  font-family: 'Anton', sans-serif !important;
  font-size: 1.5em;
  text-transform: uppercase;
}

.footer_item {
  color: #c7c7c7;
}

footer hr {
  margin: 0;
  border-top: 0.5px solid rgb(78, 78, 78);
}

/* Carousel */

.carousel__holder {
  background-color: white;
}

.carousel__intro {
  background-color: #353535;
  position: absolute;
  height: 100%;
  padding: 0 30px;
}

.carousel__hello {
  font-size: 51px;
  font-weight: bold;
}

.carousel__desc {}

.carousel__getstarted {
  text-transform: uppercase;
  background-color: #b7473a;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

.carousel__activator {
  visibility: hidden;
}

@media (max-width: 47.999em) {
  .carousel {
    display: none;
  }
  .carousel__hello {
    padding-top: 0;
  }
  .carousel__intro {
    height: unset;
    position: unset;
  }
  .carousel__holder {
    padding-bottom: 0 !important;
  }
  .carousel__getstarted {
    margin-bottom: 1em;
  }
}
