<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | upcase }} | openplcproject.com</title>
    <link rel="stylesheet" href="/assets/css/pure-min.css">
    <link rel="stylesheet" href="/assets/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <!--<link rel="stylesheet" href="/assets/css/theme.css">-->
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include menu.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
  <script src="/assets/js/menu.js"></script>
</html>
