<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | upcase }} | openplcproject.com</title>
    <link rel="stylesheet" href="/assets/css/pure-min.css">
    <link rel="stylesheet" href="/assets/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link href="//fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>

    <meta name="description" content="An open source alternative to automation"/>
    <link rel="canonical" href="https://www.openplcproject.com"/>
    <meta property="og:title" content="The OpenPLC Project"/>
    <meta property="og:description" content="An open source alternative to automation"/>
    <meta property="og:url" content="https://www.openplcproject.com"/>
    <meta property="og:site_name" content="openplc"/>
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="MODBUS, PLC, industrial controllers, open source"/>

  </head>
  <body>
    {% include menu.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="/assets/js/menu.js"></script>
  </body>
</html>
